/* starting desktop version */
body {
    background-color: white;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    margin-left: 150px;
    margin-right: 150px;
}

/* start menu */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.btn-back {
    background-color: white;
    border: none;
}

.btn-more {
    background-color: white;
    border: none;
}

/* starting order 1 */
.order {
    height: 150px;
    display: grid;
    grid-template-columns: 25% 55% 20%;
    grid-template-rows: auto auto;
    background-color: white;
    box-shadow: 5px 5px 20px lightgrey;
    border-radius: 10px;
    margin-bottom: 10px;
    justify-content: space-between;
    align-items: center;
}

.img-order-1 {
    width: 80px;
    grid-column: 1/2;
    grid-row: 1/3;
}

.img-order-2 {
    width: 80px;
    grid-column: 1/2;
    grid-row: 1/3;
}

.burger-name {
    grid-column: 2/3;
    grid-row: 1/2;
}

.delete {
    grid-column: 3/4;
    grid-row: 1/2;
    width: 40px;
    background-color: white;
    border: none;
    color: rgb(200, 1, 1);
}

.qty {
    grid-column: 2/3;
    grid-row: 2/3;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border: solid 1px rgb(207, 207, 207);
}

.btn-qty {
    background-color: white;
    border: none;
    color: rgb(200, 1, 1);
    margin: 0;
}

/* starting apply */
.apply {
    width: 100%;
    height: 40px;
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    border: none;
}

/* starting table */
table tr td {
    width: 100%;
    justify-content: space-between;
}
    
/* Starting proceed */
.proceed {
    background-color: rgb(200, 1, 1);
    border: none;
    height: 40px;
    width: 100%;
    border-radius: 5px;
    color: white;
}




/* Starting mobile version */
@media (max-width: 600px) {
    body {
        width: 360px;
        background-color: white;
        font-family:Verdana, Geneva, Tahoma, sans-serif;
        margin-left: 5px;
    }
    
    /* start menu */
    header {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    
    /* starting order 1 */
    .order {
        width: 360px;
        height: 150px;
        display: grid;
        grid-template-columns: 25% 55% 20%;
        grid-template-rows: auto auto;
        background-color: white;
        box-shadow: 5px 5px 20px lightgrey;
        border-radius: 10px;
        margin-bottom: 10px;
        justify-content: space-between;
        align-items: center;
    }
    
    .img-order-1 {
        width: 80px;
        grid-column: 1/2;
        grid-row: 1/3;
    }
    
    .img-order-2 {
        width: 80px;
        grid-column: 1/2;
        grid-row: 1/3;
    }
    
    .burger-name {
        grid-column: 2/3;
        grid-row: 1/2;
    }
    
    .delete {
        grid-column: 3/4;
        grid-row: 1/2;
        width: 40px;
        background-color: white;
        border: none;
        color: rgb(200, 1, 1);
    }
    
    .qty {
        grid-column: 2/3;
        grid-row: 2/3;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        border: solid 1px rgb(207, 207, 207);
    }
    
    .btn-qty {
        background-color: white;
        border: none;
        color: rgb(200, 1, 1);
        margin: 0;
    }
    
    /* starting apply */
    .apply {
        width: 100%;
        height: 40px;
        background-color: black;
        color: white;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 5px;
        border: none;
    }
    
    /* starting table */
    table tr td {
        width: 100%;
        justify-content: space-between;
    }
    
    /* Starting proceed */
    .proceed {
        background-color: rgb(200, 1, 1);
        border: none;
        height: 40px;
        width: 100%;
        border-radius: 5px;
        color: white;
    }
    }